<% title "Talleres" %>


<h2>Talleres en la Casa</h2>
<p>Este verano volvemos a la escuela!</p>

<p>Durante los meses de Julio y Agosto, Talleres en la Casa, 
  nace como una propuesta abierta a todos aquellos que acababais los cuadernos Santillana 
  la primera semana de vacaciones, no sufráis más! Tenemos deberes para vosotros!</p>
  
<h2>Los Talleres</h2>

<p>Los cursos son intensivos de <strong>cuatro d√≠as</strong>, tres horas cada d√≠a.</p> Excepto el taller de origami que durará dos días.

<ul class="workshops">
<% @workshops.each do |workshop| %>
<li><%= link_to workshop.title, workshop %> <span class="price">(<%= workshop.price %>‚Ç¨)</span> <%= workshop.short_description %></li>
<% end %>
</ul>

<% if admin? %>
<ul class="admin-links">
  <li><%= link_to "Nuevo Taller", new_workshop_path %></li>
</ul>
<% end %>
  
<h2>La Casa Taller</h2>
<p style="text-align: center;"><%= image_tag 'map.jpg' %></p>
<p>La Casa Taller se encuentra en Binissalem, a 25 min. en tren desde Palma.</p>
 
<p><%= image_tag 'taller_composition2.png' %></p>
<p>Entre vi√±edos y almendros, en una bonita casa mallorquina con un estudio grande para que quepamos tod@s.</p>

<h2>Preinscripciones</h2>

<p>Para reservar tu plaza en el curso y para asegurar que las plazas se completan se requiere <strong>pagar una preinscripci√≥n</strong>.<p>
<p>El precio de la preinscripci√≥n para cualquier taller es de <strong><%= APP_CONFIG[:preinscription_price] %>‚Ç¨</strong>.</p>
<p>El importe de la preinscripci√≥n <strong>s√≥lo ser√° devuelto en caso de que no se completaran las plazas para el curso</strong>.</p>

<p>Las plazas del taller deber√°n ser cubiertas <strong>2 semanas antes del inicio del mismo</strong>, en caso de no cubrirse las plazas en esta fecha se informar√° inmediatamente a los preinscritos y se les devolver√° el importe de la preinscripci√≥n.</p>
  
<p>Las plazas son limitad√≠simas entre, <strong>8 y 10 personas por curso</strong>, haz tu preinscripci√≥n cuanto antes.</p>

<p>El sistema de pago de la preinscripci√≥n es mediante <strong>Paypal</strong>, que es un sistema seguro.
  Se puede pagar mediante una cuenta de Paypal si ya la tienes o mediante tarjeta de cr√©dito.
  Si tienes problemas con estos m√©todos de pago ponte en contacto con nosotros y te ayudaremos a resolverlo.</p>

<h2>Organiza</h2>
<p><%= link_to 'Cecila H. Molano', 'http://ceciliamolano.com' %> amante de todo tipo de expresi√≥n art√≠sticas con experiencia
  en el mundo del v√≠deo, del teatro y de la obra gr√°fica.</p>
<p>Cecilia ha decidido convocar a varios artistas, profesionales de cada una de las materias de los talleres, 
  para vernirse a Mallorca a impartir cursos muy personalizados.</p>
<p>Para cualquier duda o sugerencia, puedes contactar con ella enviando un email a <%= link_to 'chmolano@gmail.com', 'mailto:chmolano@gmail.com' %>.</p> o al número de teléfono 656 398 367.
