<% title "Talleres" %>


<h2>Talleres en la Casa</h2>
<p>Este verano volvemos a la escuela!</p>

<p>Durante los meses de Julio y Agosto, Talleres en la Casa, 
  nace como una propuesta abierta para todos aquellos que acababais los cuadernos Santillana 
  la primera semana de vacaciones, ¡no sufráis más! ¡tenemos deberes para vosotros!</p>
  
<h2>Los Talleres</h2>

<p>Los cursos son intensivos de <strong>cuatro días</strong>, tres horas cada día, excepto el taller de origami que durará
  dos días.</p>

<ul id="workshops" class="workshops">  
  <% @workshops.each do |workshop| %>  
    <% content_tag_for :li, workshop do %>  
      <%= link_to workshop.title, workshop %> <span class="price">(<%= workshop.price %>€)</span> <%= workshop.short_description %>
      <% if admin? %><span class="sort-handle">[ordenar]</span><% end %>
    <% end %>  
  <% end %>  
</ul>


<% if admin? %>
<%= sortable_element('workshops', :url => sort_workshops_path, :handle => 'sort-handle') %> 
<ul class="admin-links">
  <li><%= link_to "Nuevo Taller", new_workshop_path %></li>
</ul>
<% end %>
  
<h2>La Casa Taller</h2>
<p style="text-align: center;"><%= image_tag 'map.jpg' %></p>
<p>La Casa Taller se encuentra en Binissalem, a 25 min. en tren desde Palma.</p>
 
<p><%= image_tag 'taller_composition2.png' %></p>
<p>Entre viñedos y almendros, en una bonita casa mallorquina con un estudio grande para que quepamos tod@s.</p>

<h2>Preinscripciones</h2>

<p>Para reservar tu plaza en el curso y para asegurar que las plazas se completan se requiere <strong>pagar una preinscripción</strong>.<p>
<p>El precio de la preinscripción para cualquier taller es de <strong><%= APP_CONFIG[:preinscription_price] %>€</strong>.</p>
<p>El importe de la preinscripción <strong>sólo será devuelto en caso de que no se completaran las plazas para el curso</strong>.</p>

<p>Las plazas del taller deberán ser cubiertas <strong>2 semanas antes del inicio del mismo</strong>, en caso de no cubrirse las plazas
  en esta fecha se informará inmediatamente a los preinscritos y se les devolverá el importe de la preinscripción.</p>
  
<p>Las plazas son limitadas entre <strong>8 y 10 personas por curso</strong>, si estás interesado, haz tu preinscripción cuanto antes.</p>

<p>El sistema de pago de la preinscripción es mediante <strong>Paypal</strong>, que es un sistema seguro.
  Se puede pagar mediante una cuenta de Paypal si ya la tienes o mediante tarjeta de crédito.
  Si tienes problemas con estos métodos de pago ponte en contacto con nosotros, te ayudaremos a encontrar una solcución.</p>

<h2>Organiza</h2>
<p><%= link_to 'Cecila H. Molano', 'http://ceciliamolano.com' %> amante de todo tipo de expresión artísticas con experiencia
  en el mundo del vídeo, del teatro y de la obra gráfica.</p>
<p>Cecilia ha decidido convocar a varios artistas, profesionales en las materias de los cursos que imparten,
  para venir a Mallorca a impartir estos talleres personalizados.</p>
<p>Puedes contactar con ella enviando un email a <%= link_to 'chmolano@gmail.com', 'mailto:chmolano@gmail.com' %>.</p> o por teléfono,
al 656 398 367.