<% title "Taller | #{@workshop.title}" %>

<h1><%= @workshop.title %> <span class="price">(<%= @workshop.price %>€)</span></h1>
<div class="short-description">
  <%= simple_format( @workshop.short_description ) %>
</div>

<div class="description">
  <%= simple_format( @workshop.description ) %>
</div>

<% if admin? %>
<ul class="admin-links">
  <li><%= link_to "Editar", edit_workshop_path(@workshop) %></li>
  <li><%= link_to "Eliminar", @workshop, :confirm => 'Segura que quieres eliminar este Taller?', :method => :delete %></li>
</ul>
<% end %>

<% if admin? %>
<h1>Alumnos</h1>
<ul>
  <% @workshop.attendees.each do |attendee| %>
  <li><%= link_to attendee.name, [@workshop, attendee] %>, <%= attendee.email %>, <%= attendee.phone %>, [<%= attendee.status %>] <% if !attendee.comment.blank? %>(<%= link_to 'comentario!', [@workshop, attendee] %>)<% end %></li>
  <% end %>
</ul>
<% end %>

<h1>Preinscripción</h1>
<p>Rellena este formulario con tus datos, y realiza la preinscripción mediante Paypal.</p>

<p>Cualquier duda ponte en contacto con: <a href="mailto:chmolano@gmail.com">Cecilia H. Molano</a>.

<%= render :partial => 'attendees/form' %>



<p><%= link_to "Ver Todos los Talleres", workshops_path %></p>
