<% title "Taller | #{@workshop.title}" %>

<h2><%= @workshop.title %> <span class="price">(<%= @workshop.price %>€)</span></h2>
<%= simple_format( @workshop.description ) %>

<% if admin? %>
<ul class="admin-links">
  <li><%= link_to "Editar", edit_workshop_path(@workshop) %></li>
  <li><%= link_to "Eliminar", @workshop, :confirm => 'Segura que quieres eliminar este Taller?', :method => :delete %></li>
</ul>
<% end %>

<% if admin? %>
<h2>Alumnos</h2>
<ul>
  <% @workshop.attendees.each do |attendee| %>
  <li><%= link_to attendee.name, [@workshop, attendee] %>, <%= attendee.email %>, <%= attendee.phone %>, [<%= attendee.status %>] <% if !attendee.comment.blank? %>(<%= link_to 'comentario!', [@workshop, attendee] %>)<% end %></li>
  <% end %>
</ul>
<% end %>

<h2>Preinscripción</h2>
<p>Rellena este formulario con tus datos, y realiza la preinscripción mediante Paypal.</p>

<p>Cualquier duda ponte en contacto con: <a href="mailto:chmolano@gmail.com">Cecilia H. Molano</a>.

<%= render :partial => 'attendees/form' %>



<p><%= link_to "Ver Todos los Talleres", workshops_path %></p>
