<% form_for [@workshop, @attendee] do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :name, 'Nombre' %>
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :email, 'Email' %>
    <%= f.text_field :email %>
  </p>
  <p>
    <%= f.label :phone, 'Teléfono' %>
    <%= f.text_field :phone %>
  </p>
  <p>
    <%= f.label :comment, 'Commentario. <span class="small">En el comentario puedes hablarnos un poco de ti y que es lo que esperas aprender en el curso.</span>' %>
    
    <%= f.text_area :comment %>
    
  </p>

  <p><%= f.submit "Pagar los #{APP_CONFIG[:preinscription_price]}€ de la Preinscripción" %></p>
<% end %>
