<% title "Attendee" %>

<p>
  <strong>Name:</strong>
  <%=h @attendee.name %>
</p>
<p>
  <strong>Email:</strong>
  <%=h @attendee.email %>
</p>
<p>
  <strong>Comment:</strong>
  <%=h @attendee.comment %>
</p>
<p>
  <strong>Phone:</strong>
  <%=h @attendee.phone %>
</p>

<ul class="admin-links">
  <li><%= link_to "Edit", edit_workshop_attendee_path(@workshop, @attendee) %></li>
  <li><%= link_to "Destroy", [@workshop, @attendee], :confirm => 'Are you sure?', :method => :delete %></li>
</ul>
