<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
  <head>
    <title>Talleres en la Casa | <%= h(yield(:title)) %></title>
    <meta name="description" content="Talleres y Cursos presenciales para este verano en Mallorca, Binissalem." />
    <meta name="keywords" content="talleres, cursos, mallorca, binissalem, julio y agosto, origami, fotografía, vídeo, danza del vientre, diseño web" />
    <meta name="author" content="Cecilia H. Molano http://ceciliamolano.com" />
    <%= stylesheet_link_tag 'reset', 'style' %>
    <%= yield(:head) %>
  </head>
  <body>
    <div id="container">
      <h1 onclick="parent.location='<%= workshops_path %>'">Talleres en la Casa | <%=h yield(:title) %></h1>
      <div id="background">
        <div id="content">
          <ul class="menu">
            <li><%= link_to 'Talleres en la Casa', workshops_path %></li>
            <% if admin? %>
              <li><%= link_to 'Logout', logout_path %></li>
            <% end %>
          </ul>
          
          <%- flash.each do |name, msg| -%>
            <%= content_tag :div, msg, :id => "flash_#{name}" %>
          <%- end -%>
      
          <%= yield %>
        </div> <!-- #content -->
      </div> <!-- background -->
    </div> <!-- #container -->
    
    <!-- analytics -->
    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-16800745-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>
  </body>
</html>
